<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INSHOPCOM</title>
    <link rel="stylesheet" href="/css blockUser page/Css blockUser.css">
</head>
<body>
<div class="background">
    <p class="title1">your blocked </p>
     <p class="title2">Admin blocked you because you do <br> something against terms and conditions</p>
</div>
</body>
</html>